/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/
body{
    background-color:#0E0017;
}

.jumbotron{

    background-color:#9A6482;
    
}
.thumbnail{
    background-color:#9A6482;
}
p{
    color:white;
}
h1{
    color:white;
}
h3{
    color:white;
}
article{
    background-color:#9A6482;
}
h2{
    color:white;
}
a{
    color:silver;
}
